@font-face {
  font-family: 'NotoSans-Light';
  src:url('../fonts/noto/NotoSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSans-Regular';
  src:url('../fonts/noto/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSans-Bold';
  src:url('../fonts/noto/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSans-SemiBold';
  src:url('../fonts/noto/NotoSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSans-ExtraBold';
  src:url('../fonts/noto/NotoSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSans-Black';
  src:url('../fonts/noto/NotoSans-Black.ttf') format('truetype');
}

a{
  text-decoration: none;
  color: white;
}

body{
  position: relative;
  margin: 0;
  min-height: 101vh;
}

nav{
  position: relative;
  width: 100%;
  height: 8.3943vw;
  /* background-color: rgb(47,24,147); */
  background-size: 100% 100%;
  background-image: url('../images/navBG.jpg');
  border-bottom: 0.1952vw solid rgba(255,255,255,1);
}

.sellSomething{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  position: absolute;
  left: 4.6vw;
  bottom:  0.5856vw;
}
.sellSomething p{
  transition: 0.3s;
}
.sellSomething p:hover{
  color:rgb(255,196,0);
}

#sellerOnly{
  transition: 1s;
  overflow: hidden;
  position: absolute;
  width: 12.56vw;
  height: 0;
  bottom: 0;
  z-index: 1;
  /* padding: 1vw; */
  background: white;
}



.sellSomething p{
  color: white;
  font-family: 'NotoSans-Regular';
  font-size: 1.1713vw;
  margin-left: 1.0248vw;
}

.sellButton{
  transition: 0.3s;
  box-shadow: 0px 0px 1.8vw 0px rgba(0,216,255,0.8);
  width: 3.269vw;
  height: 3.269vw;
  background-color: rgb(50,44,113);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sellButton:hover{
  cursor: pointer;
  box-shadow: 0px 0px 1.9vw 3px rgba(0,216,255,0.8);
}

.sellButton img{
  width: 1.9vw;
  height: 1.854vw;
}

.navMiddleBox{
  /* border: 1px solid yellow; */
  position: absolute;
  width: 46.461vw;
  height: auto;
  left: 26.6959vw;
  bottom: 0.5856vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoAndSocialMedia{
  /* background: green; */
  width: 100%;
  display: flex;
  padding-bottom: 0.5vw;
}

.logo{
  width: 14.153vw;
  height: 1.9521vw;
  margin-left: 16.1542vw;
}
.socialMediaDiv{
  height: 1.22vw;
  /* border: 1px solid black; */
  margin-top: 0.9vw;
}
.socialMediaDiv img{
  transition: 0.3s;
  opacity: 0.3;
  margin-left: 0.9vw;
}
.socialMediaDiv img:hover{
  cursor: pointer;
  opacity: 1;
}
.fb-icon{
  width: 0.634vw;
  height: 1.073vw;
}
.twitter-icon{
  width: 1.1713vw;
  height: 1.0248vw;
}
.instagram-icon{
  width: 1.0736vw;
  height: 1.0736vw;
}
.linkedIn-icon{
  width: 1.0747vw;
  height: 1.0747vw;
}

.searchBox{
  position: relative;
  width:45.6vw;
  height: 2.44vw;
  border: 0.39vw solid white;
  box-shadow: inset 0px 0px 2px 1px rgba(199,197,208);
  background-color: rgb(223,220,233);
  display: flex;
  align-items: center;
}
.locationIcon{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 1.171vw;
  height: 1.757vw;
}
.selectCountry{
  height: 100%;
  min-width: 6.347vw;
  border: none;
  background: rgb(223,220,233);
  font-size: 1.2vw;
}
.searchInput{
  background: rgb(223,220,233);
  width: 31.226vw;
  height: 0.8718vw;
  padding-top: 0.3vw;
  border: none;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding-left: 1vw;
  font-size: 0.8789vw;
}

input[type="text"]::placeholder {
    color: black;
    font-size: 0.8789vw;
    opacity: 0.4;
}


.searchIcon{
  width: 1.953vw;
  height: 1.953vw;
  margin-right: 0.5vw;
  margin-top: 0.2vw;
  float: right;
}
.searchIconAnchor{
  width: 7.4vw;
}

.searchBox{
  position: relative;
  width:45.6vw;
  height: 2.44vw;
  border: 0.39vw solid white;
  box-shadow: inset 0px 0px 2px 1px rgba(199,197,208);
  background-color: rgb(223,220,233);
}

.logInRegister{
  font-family: 'NotoSans-Bold';
  color: white;
  /* border: 1px solid red; */
  position: absolute;
  right: 4.6vw;
  bottom:  0.5856vw;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.cardBox{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:1.7569vw;
}
.cardBox img{
  transition: 0.3s;
  width: 2.6354vw;
  height: 1.8545vw;
}
.cardBox img:hover{
  cursor: pointer;
  filter: brightness(110%);
}

.cardBox p{
  margin: 0;
  font-size: 0.87847vw;
}

.logreg{
  display: flex;
  font-size: 1.1713vw;
}
.logreg a{
  transition: 0.3s;
  position: relative;
}
.logreg a:hover{
  color: rgb(255,196,0);
}

/* registration dd */
.closeBox{
  position: absolute;
  /* border: 1px solid red; */
  right: 1vw;
  top: 1vw;
  width: 5vw;
}
.closeBox:hover{
  cursor: pointer;
}
.xLineOne{
  position: relative;
  top: 1vw;
  width:100%;
  height: 1vw;
  background: white;
  transform: rotate(45deg);
}
.xLineTwo{
  position: relative;
  width:100%;
  height: 1vw;
  background: white;
  transform: rotate(-45deg);
}


.iconBox{
  transition: 1s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  opacity: 0;
  filter: blur(10px);
  z-index: 2;
}

.iconBox img{
  margin: 1.25vw;
  width: 28.271vw;
  height: 27.294vw;
  margin-top: 7.4238vw;
}

.iconBox img:hover{
  cursor: pointer;
}

.iconBox h2{
  margin-top: 3vw;
  font-weight: 100;
  font-family: 'NotoSans-Regular';
  text-align: center;
  color: white;
  font-size: 2.343vw;
}

.arrowBox{
  position: absolute;
  top: 1vw;
  left: 5vw;
}

.arrowBox img{
  width: 6vw;
  height: 2vw;
}
/* registration dd */

.userIcon{
  transition: 0.3s;
  width: 3.2698vw;
  height: 3.2698vw;
  box-shadow: 0px 0px 1.8vw 0px rgba(0,216,255,0.8);
  background-color: rgb(50,44,113);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.878vw;
}
.userIcon:hover{
  cursor: pointer;
  box-shadow: 0px 0px 1.9vw 3px rgba(0,216,255,0.8);
}
.userIcon img{
  width: 1.612vw;
  height: 1.612vw;
}

.bold{
  font-family: 'NotoSans-Black';
}
.changeLocation{
  color: rgb(203,99,20);
  font-size: 0.976vw;
}
.changeLocation:hover{
  cursor: pointer;
}
/* main */
main{
  padding: 0.1px;
  /* background: linear-gradient(to bottom, rgba(216,213,228,0.97) 0%, rgba(247,247,247,0.99) 60%, rgba(247,247,247,1) 100%); */
}
.mainCarouselContainer h1{
  transition: 0.5s;
  color: white;
  font-family: 'NotoSans-Bold';
  font-size: 2.9282vw;
  position: relative;
  margin-top: 7vw;
  margin-left: 2.342vw;
}
.mainCarouselContainer span{
  font-size: 1.7569vw;
  font-family: 'NotoSans-regular';
  font-weight: 100;
}


.container{
  padding-top: 1.1713vw;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  align-items:  flex-start;
  justify-content: center;
  height: 30vw;
}


.mainCarouselContainer{
  position: relative;
  width: 54.075vw;
  height: 29.86vw;
  /* border: 1px solid blue; */
}
.mainCarouselContainer img{
  transition: 0.8s;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
}
.mainCarouselContainer img:nth-child(2){
  opacity: 0;
}
.mainCarouselContainer img:hover{
  cursor: pointer;
}
.leftCarArrowBox,.rightCarArrowBox{
  transition: 0.3s;
  width: 4vw;
  height: 4vw;
  background: rgb(230,230,230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 1vw);
  opacity: 0.25;
}
.leftCarArrowBox:hover,.rightCarArrowBox:hover{
  cursor: pointer;
  opacity: 0.6;
}
.leftCarArrowBox p,.rightCarArrowBox p{
  transform: scale(1,1.6);
  font-size: 2.5vw;
}
.leftCarArrowBox{
  left: 1vw;
}
.rightCarArrowBox{
  right: 1vw;
}
/* .flashDiv{
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.2;
} */

.productImageDiv::before{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 180%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top:-120%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  z-index: 1;
  pointer-events: none;
}
.productImageDiv:hover:before{
  top:100%;
  left:100%;
}




.productBox{
  transition: 0.4s;
  animation-timing-function: ease-in-out;
  /* overflow: hidden; */
  position: absolute;
  width: 16.6vw;
  min-height: 5vw;
  background: white;
  margin-bottom: 2.04978vw;
  /* padding: 0.5vw; */
}
.productBox:hover{
  box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
}

.productImageDiv{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.productImage{
  width: 100%;
  height: 21.484vw;
}
.imgShareLikeCallDiv{
  transition: 0.5s;
  /* border: 1px solid red; */
  position: absolute;
  height: auto;
  /* top: 0.2932vw; */
  top: -2.5vw;
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
}
.imgShareLikeCallDiv img{
  transition: 0.3s;
}
.imgShareLikeCallDiv img:hover{
  /* opacity: 1; */
  cursor: pointer;
}
.share-icon{
  width: 2.248vw;
  height: 2.1994vw;
  opacity: 0.5;
}
.share-icon:hover{
  opacity: 1
}
.call-icon{
  width: 1.466vw;
  height: 1.466vw;
  opacity: 0.5;
}
.call-icon:hover{
  opacity: 1
}
.love{
  width: 1.71vw;
  height: 1.564vw;
  pointer-events: none;
  /* opacity: 0.5; */
}
.love:hover{
  /* opacity: 1 */
}
.loveEmpty{
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}

.loveEmpty:hover{
  opacity: 1;
}
.loveFull{
  position: absolute;
  opacity: 0;
}
.imgShareLikeCallDivIcon{
  background: rgba(0,0,0,0.55);
  width: 2.2482vw;
  height: 2.2971vw;
  margin-left: 0.195vw;
  margin-right: 0.195vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.imgShareLikeCallDivIcon:hover{
cursor: pointer;

}
.imgShareLikeCallDivIcon:hover img:nth-child(1){
  opacity: 1;
}

.socialMediaDropDown {
  transition: 0.5s;
  height: 1.22vw;
  position: absolute;
  background: rgba(0,0,0,0.5);
  padding: 0.5vw;
  left: 0;
  width: 6.5vw;
  bottom: -2.3vw;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  display: none;
  outline: 1.5vw solid transparent;
}

.clientRatingBox{
  transition: 0.5s;
  position: absolute;
  bottom: -6.5vw;
  left: 0;
  width: 100%;
  height: 6.5vw;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clientRatingBox:hover{
  cursor: pointer;
}
.clientRatingBox p{
  margin: 0.2vw;
  color: white;
  font-family: 'NotoSans-Regular';
}
.sellerRating{
  width: 7.62vw;
  height: 1.123vw;
  padding-bottom: 1vw;
}

.sellerCard {
    transition: 0.3s;
    width: 2.5vw;
    padding-left: 50%;
    padding-top: 0.5vw;
    padding-right: 50%;
    padding-bottom: 0.2vw;
    background: rgba(0,0,0,0.3);
}
.sellerCard:hover{
  filter: brightness(130%);
}

.itemDescription{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars{
  width: 5.7101vw;
  height: 1.61vw;
}

.itemDescriptionText{
  margin: 0;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-align: center;
  font-size: 0.9775vw;
  font-family: 'NotoSans-Regular';
  color: #736c6a;
}
.itemDescriptionText:hover{
  cursor: pointer;
}

.productPrice{
  font-family: 'NotoSans-Bold';
  font-size: 1.1713vw;
  margin: 0;
  margin-top: 0.5vw;
  color: rgb(208,81,25);
}

.itemTags{
  margin-top: 10px;
  transition: 1s;
  width: 100%;
  /* background-color: rgb(242,242,242); */
  max-height: 0vw;
  overflow: hidden;
  margin: 0.5vw;
}

.tag{
  transition: 0.4s;
  /* background-color: rgb(226,226,226); */
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  width: auto;
  padding: 0.3vw;
  padding-right: 0.5vw;
  font-family: 'NotoSans-Regular';
  margin: 2.5px;
  margin-bottom: 6px;
  font-size: 0.77vw;
  color: #464241;
  transition-timing-function:ease-in;
  /* border-top-right-radius: 2vw; */
  /* border-bottom-right-radius: 2vw; */
}
.tag:hover{
  background-color: rgb(255,196,0);
  cursor: pointer;
}

/* left slider */
.leftSliderBox{
  margin-right: 1.61vw;
  position: relative;
  width: 16.6vw;
  height:
}

.leftSliderBox>div:nth-child(1){
  top: 0;
  left: 1vw;
  width: 14.5vw;
}
.leftSliderBox>div:nth-child(2){
  left: 0.5vw;
  top: 0.5vw;
  width: 15.5vw;
}
.leftSliderBox>div:nth-child(3){
  left: 0;
  top:1vw;
}

/* right slider */
.rightSliderBox{
  margin-left: 1.61vw;
  position: relative;
  /* border: 2px solid blue; */
  width: 16.6vw;
}
.rightSliderBox>div:nth-child(1){
  top: 0;
  left: 1vw;
  width: 14.5vw;
}
.rightSliderBox>div:nth-child(2){
  left: 0.5vw;
  top: 0.5vw;
  width: 15.5vw;
}
.rightSliderBox>div:nth-child(3){
  left: 0;
  top:1vw;
}

.nextButton {
  transition: 0.3s;
    z-index: 1;
    position: absolute;
    height: 3vw;
    width: 3vw;
    /* bottom: -2vw; */
    right: 0;
    /* border: 1px solid black; */
    opacity: 0.7;
    background: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NotoSans-Regular';
    font-size: 1vw;
    top: 11vw;
    border-radius: 50%;
}
.nextButton:hover{
  opacity: 1;
  cursor: pointer;
}
.nextButton p{
  user-select: none;
}
.leftNextButton{
  right: auto;
  left: 0;
}
/* truck and other icons */
.flexIcons{
  margin-top: 0.4648vw;
  display: flex;
  justify-content: center;
}
.threeIcons{
  transition: 0.3s;
  margin-left: 5.3vw;
  margin-right: 5.3vw;
}
.threeIcons:hover{
  cursor: pointer;
  filter: brightness(110%);
}
.threeIcons p{
  font-size: 0.8789vw;
  text-align: center;
  font-family: 'NotoSans-Light';
  margin: 0;
}
/* whatIsLorem */
.whatIsLorem{
  padding: 0.1px;
  margin-top: 5.273vw;
  height: 15.234vw;
  background-color: rgb(243,243,243);
}
.whatIsLorem h2{
  text-align: center;
  font-size: 2.3437vw;
  font-family: 'NotoSans-Regular';
  color: black;
  margin-top:2.685vw;
  margin-bottom: 0.83vw;
}
.whatIsLorem p{
  margin: 0;
  text-align: center;
  font-size: 1.1718vw;
  font-family: 'NotoSans-Light';
}

/* newOrUsed */
.newOrUsed{
  height: 23.486vw;
  background: linear-gradient(to right, rgba(55,107,253,1) 0%, rgba(55,107,253,1) 15%, rgba(255,134,184,1) 85%, rgba(255,134,184,1) 100%);
  /* overflow: hidden; */
  position: relative;
}

.lanternBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lantern{
  width: 14.8437vw;
  height: 25.3417vw;
  left: 41.0156vw;
  position: absolute;
  top: -6vw;
  animation-name: lantern;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes lantern {
  0%{
    top: -6vw;
  }
  100%{
    top: 0vw;
  }
}

.fruits {
  width: 36.035vw;
  height: 26.123vw;
  position: absolute;
  top: 4vw;
  left: 0;
}
.samsung{
  width: 25.244vw;
  height: 29.296vw;
  position: absolute;
  left: 47.6vw;
  top: -5vw;
}
.powder {
  width: 12.695vw;
  height: 15.136vw;
  position: absolute;
  right: 14vw;
  bottom: 0;
}
.liquidLipstick {
  width: 27.148vw;
  height: 36.2792vw;
  position: absolute;
  top: -3vw;
  right: 0vw;
}
.bg {
  height: 27vw;
  width: 56vw;
  position: absolute;
  right: 0;
  top: -1vw;
}
.newOrUsed h2{
  position: absolute;
  margin-left: 4.15vw;
  margin-top: 2.73vw;
  line-height: 1;
  font-size: 2.9296vw;
  font-family: 'NotoSans-ExtraBold';
  color: white;
}
.newOrUsed h2 span{
  font-family: 'NotoSans-Light';
  font-size: 1.757vw;
}

/* pisheWork */
.pisheWork{
  padding: 0.1px;
  position: relative;
  margin-top: 4.634vw;
  margin-left: 50%;
  left: -33.85vw;
  width: 67.7vw;
  height: 36.341vw;
  box-shadow: 0px 0px 6.714vw 5.1vw rgba(0,0,0,0.06);
  margin-bottom: 5.951vw;
  color: rgb(51,51,51);
}

.pisheWork h2{
  margin: 0;
  margin-top: 5.4vw;
  font-family: 'NotoSans-SemiBold';
  font-size: 2.341vw;
  text-align: center;
}
.pisheWorkText{
  font-family: 'NotoSans-Light';
  font-size: 1.1707vw;
  text-align: center;
}
.createOnlineStore{
  transition: 0.3s;
  position: relative;
  margin-top: 6.2926vw;
  margin-left: 50%;
  left: -9.2vw;
  width: 18.39vw;
  height: 4.2926vw;
  border: 4px solid rgb(39,37,36);
  border-left: 2px solid rgb(39,37,36);
  border-right: 2px solid rgb(39,37,36);
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0vw;
  left: -9.195vw;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.45);
}
.createOnlineStore:hover{
  top: -0.5vw;
  left: -9.695vw;
  cursor: pointer;
  box-shadow: 0.5vw 0.5vw 10px 0px rgba(0,0,0,0.45);
}
.createOnlineStore p{
  font-size: 1.17vw;
  color: rgb(255,157,88);
  font-family: 'NotoSans-SemiBold';
}

.pisheWork h3{
  font-size: 1.4634vw;
  font-family: 'NotoSans-SemiBold';
  text-align: center;
  margin: 0;
  margin-top: 5vw;
}
/* arrow anim*/
.bannerAnimArrow{
  position: absolute;
  top: 36.341vw;
  width: 1.4px;
  height: 3.9vw;
  background-color: rgb(243,149,84);
  margin-left: 50%;
  animation-name: bannerAnimArrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bannerAnimInnerArrow{
  position: absolute;
  bottom: -5px;
  left: -5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(243,149,84);
  border-left: 1px solid rgb(243,149,84);
}
@keyframes bannerAnimArrow{
  0%{
    height: 1vw;
  }
  100%{
    height: 3.9vw;
  }
}
/* arrow anim end */

/* secund car  */
.secundCarSection{
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
}

.carContainer{
  position: relative;
  width: 90%;
  display: flex;
  padding: 0.1px;
  margin-left: 5%;
  overflow: hidden;
}

.carMoving{
  display: flex;
  transition: 0.5s;
  position: relative;
  left: 0;
}

.carItemBoxImgContainer{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carItemBoxImgContainer img{
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.carItemBoxImgContainer img:hover{
  transform: scale(1.2);
}
.carItemBoxImgContainer:hover{
  cursor: pointer;
}
.carItemBoxImgContainer p{
  position: absolute;
  bottom: 1.17vw;
  left: 0.5853vw;
  color: white;
}

.carItemBox{
  /* border: 1px solid yellow; */
  width: 29vw;
  margin-right: 1vw;
}
.carItemBox img{
  width: 100%;
}
.carItemBox p{
  font-family: 'NotoSans-ExtraBold';
  font-size: 1.4634vw;
  margin:0;
}

.LeftCarTwoArrow,.rightCarTwoArrow{
  transition: 0.3s;
  width: 4vw;
  height: 4vw;
  background: rgb(230,230,230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 3vw);
  opacity: 0.4;
}
.LeftCarTwoArrow:hover,.rightCarTwoArrow:hover{
  cursor: pointer;
  opacity: 0.7;
}
.LeftCarTwoArrow p,.rightCarTwoArrow p{
  transform: scale(1,1.6);
  font-size: 2.5vw;
  user-select: none;
}

.LeftCarTwoArrow{
  left: 2vw;
}

.rightCarTwoArrow{
  right: 2.2vw;
}
/* thirdCarouselSection */
.featuredProducts{
  font-size: 2.3414vw;
  font-family: 'NotoSans-SemiBold';
  margin-top: 5.951vw;
  margin-left: 5%;
  margin-bottom: 0;
}

.thirdCarouselSection{
  /* border: 1px solid red; */
  height: 33vw;
  position: relative;
}
.theActualCarThree{
  /* border: 1px solid blue; */
  display: flex;
}

.productBoxThree{
  position: relative;
  margin-right: 1.5vw;
}
#carThreeLeftArrow{
  top: 10vw;
}
#carThreeRightArrow{
  top: 10vw;
}

/* featuredStores  */
.featuredStores{
  width: 100%;
  position: relative;
  height: 31.317vw;
  background-color: rgb(227,41,48);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.featuredStoresImages{
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.featuredStoresImages:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.featuredStoresImagesBox{
  overflow: hidden;
  margin-right: 2.1215vw;
  margin-left: 2.1215vw;
  margin-top: 3.512vw;
  position: relative;
  width: 44.39vw;
  height: 24.39vw;
}

.featuredStoresImagesBox::before{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 200%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top:-140%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  z-index: 5;
}
.featuredStoresImagesBox:hover:before{
  top:110%;
  left:110%;
}

.lightBG{
  position: absolute;
  height: 100%;
  right: -1vw;
  pointer-events: none;
}

/* anotherLoremIpsumSeciton */
.anotherLoremIpsumSeciton{
  width: 100%;
}
.anotherLoremIpsumSeciton h2{
  font-family: 'NotoSans-Regular';
  font-size: 2.341vw;
  text-align: center;
  margin-top: 14.63VW;
  margin-bottom: 0;
}
.anotherLoremIpsumSeciton p{
  text-align: center;
  font-size: 1.17vw;
  font-family: 'NotoSans-Light';
  margin-top: 2.1951vw;
  margin-bottom: 11.3658vw;
}



/* footerInfo */
.footerInfo{
  position: relative;
  min-height: 32.2439vw;
  width: 100%;
  background-color: rgb(239,239,239);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 1.463vw;
}

.footerInfo h2{
  font-size: 1.463vw;
  font-family: 'NotoSans-ExtraBold';
}

.footerInfo a{
  transition: 0.3s;
  color: rgb(85,85,85);
  font-size: 0.878vw;
  text-align: center;
  font-family: 'NotoSans-Regular';
}
.footerInfo a:hover{
  color: rgb(255,196,0);
}

.footerInfo div{
  /* border: 1px solid; */
}

.FollowIPishe img{
  width: 12.439vw;
  height: 13.4vw;
}
.sellonipishe{
  height: 13.4vw;
}

/* footer */
footer{
  display: block;
}
.deskHide{
  display: none;
}
/* MOBILE */
/* MOBILE */
/* MOBILE */
@media (orientation:portrait) {
  .deskHide{
    display: block;
  }
  .mobHide{
    display: none;
  }
  nav{
    height: 53vw;
  }
  .sellSomething{
    bottom: auto;
    top: 7.187vw;
  }
  .sellSomething p{
    font-size: 3.75vw;
    margin: 0;
  }

  .logInRegister{
    top:3.187vw;
    bottom: auto;
  }
  .logreg{
    font-size: 3.75vw;
  }
  .cardBox{
    margin-right: 12.75vw;
    position: relative;
    top: -2vw;
  }
  .cardBox p{
    font-size: 3.75vw;
  }
  .cardBox img {
    transition: 0.3s;
    width: 7.6354vw;
    height: 4.8545vw;
  }

  .logoAndSocialMedia {
    width: 100%;
    display: flex;
    padding-bottom: 0.5vw;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin: auto;
    height: 6.875vw;
    width: 50.625vw;
  }
  .socialMediaDiv{
    height: auto;
  }
  .fb-icon{
    width: 2.8125vw;
    height: 4.375vw;
  }
  .twitter-icon{
    width: 4.6875vw;
    height: 4.375vw;
  }
  .instagram-icon{
    width: 4.6875vw;
    height: 4.375vw;
  }
  .linkedIn-icon{
    width: 4.6875vw;
    height: 4.375vw;
  }
  .socialMediaDiv img{
    margin: 2.8vw;
  }

  .searchBox{
    height: 11.5625vw;
    width: 89.0625vw;
    background-color: white;
    border:0.9375vw solid rgb(204,204,204);
    border-radius: 10vw;
  }
  .locationIcon {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: 4.171vw;
    height: 5.757vw;
  }
  .selectCountry{
    padding-right: 1vw;
    font-size: 4.2vw;
    background: white;
    border-right: 3px solid rgb(204,204,204);
    height: 66%;
  }
  .searchInput{
    height: 95%;
    background: white;
    font-size: 4.8789vw;
    width: 51.7826vw;
  }
  input[type="text"]::placeholder {
      color: black;
      font-size: 0.8789vw;
      opacity: 0;
  }
  .searchIcon {
    width: 1.953vw;
    height: 1.953vw;
    margin-right: 0;
    margin-top: 0.3vw;
    float: none;
    background: rgb(101,115,255);
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    padding: 1.8vw;
  }

  /* cars */
  main{
    position: relative;
  }
  .container{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .mainCarouselContainer{
    order: 1;
    width: 100%;
    height: 53.86vw;
  }
  .mainCarouselContainer h1{
    font-size: 4.9282vw;
  }
  .mainCarouselContainer span{
    font-size: 3.7569vw;
  }

  .feateruedProducts{
    position: absolute;
    top: 148vw;
    font-family: 'NotoSans-ExtraBold';
    font-size: 5vw;
    margin: 0;
  }
  .leftSliderBox{
    order: 2;
    margin-top: 103vw;
    width: 70vw;
    min-height: 127vw;
  }
  .imgShareLikeCallDivIcon{
    width: 9.2482vw;
    height: 9.2971vw;
    margin-left: 1.195vw;
    margin-right: 1.195vw;
  }
  .share-icon {
    width: 7.248vw;
    height: 7.1994vw;
  }
  .call-icon {
    width: 5.466vw;
    height: 5.466vw;
  }
  .love {
    width: 6.71vw;
    height: 6.564vw;
  }

  .leftSliderBox>div:nth-child(1){
    width: 90%;
    left: 5%;
  }
  .leftSliderBox>div:nth-child(2){
    width: 95%;
    left: 2.5%;
    top: 2.5vw;
  }
  .leftSliderBox>div:nth-child(3){
    width: 100%;
    top: 5vw;
  }
  .productImage{
    min-height: 91vw;
  }

  .rightSliderBox{
    min-height: 127vw;
    order: 3;
    width: 70vw;
  }
  .rightSliderBox>div:nth-child(1){
    width: 90%;
    left: 5%;
  }
  .rightSliderBox>div:nth-child(2){
    width: 95%;
    left: 2.5%;
    top: 2.5vw;
  }
  .rightSliderBox>div:nth-child(3){
    width: 100%;
    top: 5vw;
  }
  .nextButton{
    width: 13vw;
    height: 13vw;
    top: 50vw;
    font-size: 4vw;
  }
  .itemDescriptionText{
    font-size: 4vw;
  }
  .productPrice{
    font-size: 4.171vw;
  }
  .tag {
    font-size: 2.77vw;
    padding: 1vw;
  }

  .flexIcons {
    margin-top: 0.4648vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 57vw;
    margin-left: auto;
    width: 100%;
  }
  .threeIcons img{
    transform: scale(1.6);
  }
  .threeIcons {
    transition: 0.3s;
    margin-left: 5.3vw;
    display: flex;
    margin-right: 5.3vw;
    flex-direction: column;
    align-items: center;
  }
  .threeIcons p{
    margin: 1.2vw;
    font-size: 2.87vw;
  }

  .productBoxThree .productImage{
    min-height: 21.48vw;
  }
  .thirdCarouselSection{
    height: auto;
  }
  .whatIsLorem{
    position: absolute;
    top: 74vw;
    width: 100%;
    background: white;
  }
  .whatIsLorem h2{
    font-size: 7.3437vw;
  }
  .whatIsLorem p {
    margin: 0;
    text-align: center;
    font-size: 4.5vw;
    font-family: 'NotoSans-Light';
    padding-left: 5vw;
    padding-right: 5vw;
  }

  /* new used mob */
  .newOrUsed {
    height: 65.486vw;
    background: linear-gradient(to right, rgba(55,107,253,1) 28%, rgba(55,107,253,1) 15%, rgba(255,134,184,1) 182%, rgba(255,134,184,1) 100%);
    /* overflow: hidden; */
    position: relative;
  }

  .fruits {
    width: 100%;
    height: auto;
    position: absolute;
    top: 11vw;
    left: 0;
  }

  .newOrUsed{
    margin-bottom: 200vw
  }
  .newOrUsed h2 {
    margin-left: 10.15vw;
    margin-top: 5.73vw;
    line-height: 0.6;
    font-size: 7.9296vw;
  }
  .newOrUsed h2 span {
    font-family: 'NotoSans-Light';
    font-size: 4vw;
  }

  .bg {
    height: 77vw;
    width: 123%;
    position: absolute;
    right: 0;
    top: 80vw;
  }

  .lanternBox{
    top: 83vw;
  }

  .lantern {
    width: 42.8437vw;
    height: 75.3417vw;
    left: 8vw;
    z-index: 1;
  }
  .bgTwoBox{
    width: 100%;
    top: 80vw;
    position: absolute;
    overflow: hidden;
  }
  .bgTwo {
    height: 77vw;
    position: relative;
    z-index: 2;
    left: 12vw;
  }
  .samsung {
    width: 66.244vw;
    height: 81.296vw;
    position: absolute;
    left: 29.6vw;
    top: 68vw;
    z-index: 3;
  }
  .liquidLipstickBG {
    overflow: hidden;
    width: 100%;
    height: 88vw;
    top: 156vw;
    position: absolute;
    background-color: rgb(214,152,216);
  }
  .liquidNarowWhiteBg {
    width: 100%;
    height: 7vw;
    background: white;
    top: 85vw;
    transform: skewY(-2deg);
    position: absolute;
  }
  .liquidLipstick {
    width: 96.148vw;
    height: 123.2792vw;
    position: absolute;
    top: 147vw;
    right: 0vw;
    z-index: 1;
  }
  .powder {
    width: 45.695vw;
    height: 55.136vw;
    position: absolute;
    right: auto;
    bottom: auto;
    z-index: 1;
    top: 183vw;
    left: 6vw;
  }
  /* pishe work */
  .pisheWork{
    width: 100%;
    left: auto;
    margin-left: auto;
    height: 80vw;
  }
  .pisheWork h2{
    font-size: 6.341vw;
  }
  .pisheWorkText {
    font-size: 3.6707vw;
    margin-right: 7vw;
    margin-left: 7vw;
  }
  .createOnlineStore {
    width: 61.39vw;
    height: 8.2926vw;
    border-radius: 3vw;
    left: -31.195vw;
  }
  .createOnlineStore p{
    font-size: 4.17vw;
  }
  .pisheWork h3{
    font-size: 4.4634vw;
  }

  /*  car two*/
  .LeftCarTwoArrow, .rightCarTwoArrow{
    width: 10vw;
    height: 10vw;
    top: calc(50% - 8vw);
  }
  .LeftCarTwoArrow p, .rightCarTwoArrow p{
    font-size: 6.5vw;
  }
  .carItemBox{
    width: 89vw;
  }
  .carItemBox p{
    font-size: 3.4634vw;
  }
  /* car three */
  .featuredProducts{
    text-align: center;
  }
  .productBox{
    width: 29vw;
  }
  .productImage{
    height: 37vw;
  }
  /* features stores */
  .featuredStores {
    height: 113.317vw;
    flex-direction: column;
    align-items: center;
  }
  .featuredStoresImagesBox {
    width: 80.39vw;
    height: 49.39vw;
  }
  .lightBG{
    width: 100%;
  }
  /* anotherLoremIpsumSeciton */
  .anotherLoremIpsumSeciton h2{
    font-size: 7.341vw;
  }
  .anotherLoremIpsumSeciton p{
    font-size: 1.57vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  /* footer */
  .footerInfo{
    flex-direction: column;
  }
  .footerInfo div{
    margin-top: 5vw;
  }
  .footerInfo h2{
    font-size: 4.463vw;
  }
  .sellonipishe{
    height: auto;
  }
  .footerInfo a{
    font-size: 1.878vw;
  }
  .FollowIPishe img {
    width: 49.439vw;
    height: 52.4vw;
  }
}
