@font-face {
  font-family: 'NotoSans-Regular';
  src:url('../fonts/noto/NotoSans-Regular.ttf') format('truetype');
}

body{
  margin: 0;
  background-color: rgb(53,53,53);
}

.iconBox{
  display: flex;
  justify-content: center;
  margin-top: 5vw;
}

.iconBox img{
  margin: 1vw;
}

.iconBox img:hover{
  cursor: pointer;
}

h2{
  font-weight: 100;
  font-family: 'NotoSans-Regular';
  text-align: center;
  color: white;
}
